{
    "createdTime": "{{ current_unix_time_milliseconds }}",
    "lastModified": "{{ current_unix_time_milliseconds + 1000 }}",
    "parent": "",
    "pinned": false,
    "type": "DocumentType",
    "visibleName": "{{ visibleName }}"
}